
app-character-sheet {
  flex: 1 1 30%;
}

mat-horizontal-stepper {
  flex: 1 1 70%;
}

mat-card.summary {
  width: 80%;
}

.abilityScores {
  display: flex;
  flex-wrap: nowrap;

  mat-form-field {
    flex: 1 1 10%;
  }
}

div.ng-invalid {
  background-color: #ff96a4;
}

::ng-deep mat-radio-group {
  display: flex;
  flex-wrap: wrap;
}

app-picture-radio.alignment ::ng-deep label{
  flex: 1 1 33%;
}

app-picture-radio.background ::ng-deep label{
  flex: 1 1 12%;
}

app-picture-radio.race ::ng-deep label{
  flex: 1 1 20%;
}
app-picture-radio.category ::ng-deep label{
  flex: 1 1 20%;
}

mat-form-field.freechoice{
  width: 250px;
}
