.race mat-radio-group {
  display: flex;
  flex-wrap: wrap;

}

.race mat-radio-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 20%;

  div {
    text-align: center;
    text-transform: capitalize;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

.race img {
  max-width: 100%;
}

.background mat-radio-group {
  display: flex;
  flex-wrap: wrap;

}

.background mat-radio-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 12%;

  div {
    text-align: center;
    text-transform: capitalize;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

.background img {
  max-width: 100%;
}

.alignment mat-radio-group {
  display: flex;
  flex-wrap: wrap;

}

.alignment mat-radio-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 33%;

  div {
    text-align: center;
    text-transform: capitalize;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

.alignment img {
  max-width: 100%;
}

app-character-sheet {
  flex: 1 1 30%;
}

mat-horizontal-stepper {
  flex: 1 1 70%;
}

.container {
  max-width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.LABEL {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #262626;
}

mat-card.backgroundtooltip {
  width: 50%;
}

mat-card.summary {
  width: 80%;
}

.abilityScores {
  display: flex;
  flex-wrap: nowrap;

  mat-form-field {
    flex: 1 1 10%;
  }
}

div.ng-invalid {
  background-color: #ff96a4;
}

img {
  transition: transform .2s; /* Animation */
}

img:hover {
  transform: scale(1.1);
}
.mat-radio-container{
  display:none !important;
}
