<div style="display: flex">
  <app-character-sheet [race]="race"
                       [klass]="category"
                       [alignment]="alignment"
                       [bkg]="background"
                       (traits)="onTraits($event)"
                       (choices)="onFreeChoices($event)"></app-character-sheet>

  <mat-horizontal-stepper labelPosition="bottom">
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Race</ng-template>
      <p>
        Every character belongs to a race, one of the many
        intelligent humanoid species in the D&D world. The
        most common player character races are dwarves, elves,
        halflings, and humans. Some races also have subraces,
        such as mountain dwarf or wood elf. The book provides
        more information about these races, as well as the less
        widespread races of dragonborn, gnomes, half-elves,
        half-orcs, and tieflings.

      </p>
      <p>
        The race you choose contributes to your character’s
        identity in an important way, by establishing a general
        appearance and the natural talents gained from culture
        and ancestry. Your character’s race grants particular
        racial traits, such as special senses, proficiency with
        certain weapons or tools, proficiency in one or m ore
        skills, or the ability to use minor spells.
      </p>
      <p>
        Your race also increases one or more of your ability
        scores.

      </p>
      <app-picture-radio class="race"
                         [gormgroup]="firstFormGroup.controls.race"
                         [choices]="race_choices"
                         prefix="races"
                         (change)="onRaceChange($event)">
      </app-picture-radio>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Class</ng-template>
      <p>Every adventurer is a member of a class. Class broadly
        describes a character’s vocation, what special talents he
        or she possesses, and the tactics he or she is most likely
        to employ when exploring a dungeon, fighting monsters,
        or engaging in a tense negotiation.
      </p>
      <p>
        Your character receives a number of benefits from
        your choice of class. Many of these benefits are class
        features—capabilities (including spellcasting) that set
        your character apart from members of other classes.
      </p>
      <p>
        You also gain a number of proficiencies: armor,
        weapons, skills, saving throws, and sometimes tools.
        Your proficiencies define many of the things your
        character can do particularly well, from using certain
        weapons to telling a convincing lie.</p>
      <app-picture-radio class="category"
                         [gormgroup]="firstFormGroup.controls.category"
                         [choices]="class_choices"
                         prefix="classes"
                         (change)="onClassChange($event)">
      </app-picture-radio>

    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Background</ng-template>
      <app-picture-radio class="background"
                         [gormgroup]="firstFormGroup.controls.background"
                         [choices]="background_choices"
                         prefix="backgrounds"
                         (change)="onBackgroundChange($event)">
      </app-picture-radio>

    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Alignment</ng-template>

      <app-picture-radio class="alignment"
                         [gormgroup]="firstFormGroup.controls.alignment"
                         [choices]="alignment_choices"
                         prefix="alignments"
                         (change)="onAlignnmentChange($event)">
      </app-picture-radio>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup" *ngIf="free_choices">
      <ng-template matStepLabel>Free Choices</ng-template>
      <form [formGroup]="firstFormGroup">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>

        <h4>Ability Scores</h4>
        <p>Take your character’s ability scores and race into
          account as you flesh out his or her appearance
          and personality. A very strong character with low
          Intelligence might think and behave very differently
          from a very smart character with low Strength.
        </p>
        <p>
          For example, high Strength usually corresponds
          with a burly or athletic body, while a character with
          low Strength might be scrawny or plump.
        </p>
        <p>
          A character with high Dexterity is probably lithe and
          slim, while a character with low Dexterity might be
          either gangly and awkward or heavy and thick-fingered.
        </p>
        <p>
          A character with high Constitution usually looks
          healthy, with bright eyes and abundant energy. A
          character with low Constitution might be sickly or frail.
        </p>
        <p>
          A character with high Intelligence might be highly
          inquisitive and studious, while a character with low
          Intelligence might speak simply or easily forget details.
        </p>
        <p>
          A character with high W isdom has good judgment,
          empathy, and a general awareness of what’s going on.
          A character with low Wisdom might be absent-minded,
          foolhardy, or oblivious.
        </p>
        <p>
          A character with high Charisma exudes confidence,
          which is usually mixed with a graceful or intimidating
          presence. A character with a low Charisma might com e
          across as abrasive, inarticulate, or timid.</p>
        <div class="background abilityScores" formGroupName="scores">
          <mat-form-field>
            <mat-label>Strength</mat-label>
            <input matInput type="number" formControlName="str">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dexterity</mat-label>
            <input matInput type="number" formControlName="dex">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Constitution</mat-label>
            <input matInput type="number" formControlName="con">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Intelligence</mat-label>
            <input matInput type="number" formControlName="int">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Wisdom</mat-label>
            <input matInput type="number" formControlName="wis" [defaultValue]="10">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Charisma</mat-label>
            <input matInput type="number" formControlName="cha" [defaultValue]="10">
          </mat-form-field>
        </div>
        <div *ngIf="!firstFormGroup.controls.scores.valid">
          Please choose one of each: 15,14,13,12,10,8
        </div>

      </form>
      <form [formGroup]="firstFormGroup.controls.free_choices">
        <div class="background" *ngFor="let choice of free_choices;">
          <app-choicechooser [formControlName]="choice.name" [choice]="choice"></app-choicechooser>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup" class="summary">
      <ng-template matStepLabel>Summary</ng-template>
      <h2>Summary</h2>
      <p>Take some time to read through the following paragraphs to familiarize yourself with your new Character.
        The more imagination you use and the more fleshed-out your character is the more fun it will be for everyone in
        the party.</p>
      <p>Strength is not everything! Sure it is fun to slice monsters in half with one strike, it's a big part of the
        game. However
        do not underestimate the memorable moments that can be created by the warrior who can't swim or the cleric who
        is afraid of the dark.
      </p>
      <div *ngIf="firstFormGroup.controls.race.valid">
        <h3>Racial Background</h3>
        <mat-card>
          <mat-card-content *ngIf="firstFormGroup.controls.race.valid">
            <h3>{{race.name |titlecase}}</h3>
            <div>{{race.description.main}}</div>
            <mat-card>
              <mat-card-content
                *ngFor="let chapter of race.description.chapters |keyvalue">
                <h4>{{chapter.key |titlecase}}</h4>
                <div>{{chapter.value}}</div>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="firstFormGroup.controls.background.valid">
        <h3>Societal Background</h3>
        <mat-card-content *ngIf="firstFormGroup.controls.background.valid">
          <h3>{{background.name |titlecase}}</h3>
          <div>{{background.description.main}}</div>
          <mat-card>
            <mat-card-content
              *ngFor="let chapter of background.description.chapters |keyvalue">
              <h4>{{chapter.key |titlecase}}</h4>
              <div>{{chapter.value}}</div>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </div>
      <div *ngIf="alignment">
        <h3>Alignment Background</h3>
        <mat-card-content *ngIf="firstFormGroup.controls.alignment.valid">
          <h3>{{alignment.name |titlecase}}</h3>
          <div>{{alignment.description.main}}</div>
          <mat-card>
            <mat-card-content
              *ngFor="let chapter of alignment.description.chapters |keyvalue">
              <h4>{{chapter.key |titlecase}}</h4>
              <div>{{chapter.value}}</div>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </div>
      <mat-card>
        <h3>Class Background</h3>
        <mat-card-content *ngIf="firstFormGroup.controls.category.valid">
          <h3>{{category.name |titlecase}}</h3>
          <div>{{category.description.main}}</div>
          <mat-card>
            <mat-card-content
              *ngFor="let chapter of category.description.chapters |keyvalue">
              <h4>{{chapter.key |titlecase}}</h4>
              <div>{{chapter.value}}</div>
            </mat-card-content>
          </mat-card>
          <h3>More questions</h3>
          <div>{{category.description.create}}</div>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="background">
        <h3>Charactistics</h3>
        <mat-card-content>
          <form  [formGroup]="firstFormGroup">
          <div>
            {{background.characteristics.description}}
          </div>
          <div *ngFor="let charac of ['personality_trait','bond','flaw','ideal']">
            <h4>{{charac}}</h4>
            <mat-form-field>
              <input matInput [placeholder]="charac" [formControlName]="charac" required>
            </mat-form-field>
            <button (click)="random_assign(background.characteristics[charac],charac)">Random</button>

          </div>
          </form>
        </mat-card-content>
      </mat-card>
      <div>
        <div> Character is valid {{firstFormGroup.valid}} </div>
        <div> Character is valid {{firstFormGroup.errors|json}} </div>
        <button type="submit" (click)="onSubmit()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
