<div style="display: flex">
  <app-character-sheet [character]="firstFormGroup.value"
                       (traits)="onTraits($event)"
                       (choices)="onFreeChoices($event)"></app-character-sheet>
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
        <ng-template matStepLabel>Name</ng-template>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Race</ng-template>
        <div class="race">
          <mat-radio-group formControlName="race">
            <mat-radio-button class="example-radio-button" *ngFor="let race of race_choices" [value]="race">
              <div>
                {{race}}
              </div>
              <img src="assets/img/{{race | snakecase}}.jpg">
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Background</ng-template>
        <div class="background">
          <mat-radio-group formControlName="background">
            <mat-radio-button class="example-radio-button" *ngFor="let background of background_choices"
                              [value]="background.name">
              <div>
                {{background.name}}
              </div>
              <img src="assets/img/{{background.name | snakecase}}.jpg">
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Alignment</ng-template>
        <div class="alignment">
          <mat-radio-group formControlName="alignment">
            <mat-radio-button class="example-radio-button" *ngFor="let alignment of alignment_choices"
                              [value]="alignment">
              <div>
                {{alignment}}
              </div>
              <img src="assets/img/alignments/{{alignment | snakecase}}.jpg">
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Class</ng-template>
        <div class="background">
          <mat-radio-group formControlName="category">
            <mat-radio-button class="example-radio-button" *ngFor="let category of class_choices"
                              [value]="category">
              <div>
                {{category}}
              </div>
              <img src="assets/img/classes/{{category | snakecase}}.jpg">
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Ability Scores</ng-template>
        <div class="background" formGroupName="scores">
          <mat-form-field><input matInput type="number" formControlName="str" [defaultValue]="10"></mat-form-field>
          <mat-form-field><input matInput type="number" formControlName="dex" [defaultValue]="10"></mat-form-field>
          <mat-form-field><input matInput type="number" formControlName="con" [defaultValue]="10"></mat-form-field>
          <mat-form-field><input matInput type="number" formControlName="int" [defaultValue]="10"></mat-form-field>
          <mat-form-field><input matInput type="number" formControlName="wis" [defaultValue]="10"></mat-form-field>
          <mat-form-field><input matInput type="number" formControlName="cha" [defaultValue]="10"></mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup" *ngIf="free_choices">
      <form [formGroup]="firstFormGroup.controls.free_choices">
        <ng-template matStepLabel>Free Choices</ng-template>
        <div class="background" *ngFor="let choice of free_choices;" >
          <mat-form-field>
            <mat-label>{{choice.name}}</mat-label>
            <mat-select multiple [formControlName]="choice.name" (selectionChange)="onFreechoiceselection($event,choice)">
              <mat-option *ngFor="let op of choice.from" [value]="op">{{op.name}}</mat-option>
            </mat-select>
            <div
              *ngIf="firstFormGroup.controls.free_choices.controls[choice.name].errors&& firstFormGroup.controls.free_choices.controls[choice.name].errors.maxlength"
            >
              Too many options selected, please select atmost {{choice.choose}}
            </div>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button type="submit" (click)="onSubmit()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
