<mat-tab-group mat-stretch-tabs *ngIf="character">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">shopping_cart</mat-icon>
      Inventory
    </ng-template>
    <mat-form-field>
      <mat-label>Equipped armor</mat-label>
      <mat-select (selectionChange)="update_armor($event)" [(value)]="character.armor">
        <mat-option *ngFor="let armor of armor_choices" [value]="armor.id">
          {{ armor.name}} {{ armor.base_ac}}+{{armor.magical_bonus}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div  *ngFor="let w of character.weapon_set; index as i">
      <mat-form-field>
        <mat-label>Equipped Weapon</mat-label>
        <mat-select (selectionChange)="update_weapon($event,i)" [(value)]="w">
          <mat-option *ngFor="let weapon of weapon_choices" [value]="weapon.id">
            {{ weapon.name}} +{{weapon.magical_bonus}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-icon class="example-tab-icon"(click)="remove_weapon(i)">close</mat-icon>
    </div>

      <mat-form-field>
        <mat-label>Equipped Weapon</mat-label>
        <mat-select (selectionChange)="update_weapon($event)">
          <mat-option *ngFor="let weapon of weapon_choices" [value]="weapon.id">
            {{ weapon.name}} +{{weapon.magical_bonus}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <div style="display: flex;flex-wrap: wrap">
      <div *ngFor="let gear of character.adventuringgear_set" [matTooltip]="gear.description" class="spell">
        {{gear.name}}
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">perm_identity</mat-icon>
      Main
    </ng-template>
    <div>{{character.name}} level {{character.level}} {{character.race}} {{character.category}}</div>
    <div>{{character.alignment}}</div>
    <!--    <div>{{character.background}}</div>-->
    <div>
      <div>Experience:{{character.experience}}</div>
      <div>Gold: {{character.gold}}</div>
    </div>
    <div style="display:flex">

      <div class="attributes" style=""
           *ngFor="let attribute of character.scores|keyvalue">
        {{attribute.key}}
        <button mat-mini-fab [ngClass]="attribute.key">
          {{attribute.value}}
        </button>
      </div>
    </div>
    <div> AC: {{ character.ac[0] }} </div>
    <div>
      <div *ngFor="let trait_type of traits.items()">
        <h3>{{trait_type[0]}}</h3>
        <div style="display: flex; flex-wrap: wrap;">
        <div *ngFor="let trait of trait_type[1]" class="spell">
          {{trait.name}}
        </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">school</mat-icon>
      Spellcasting
    </ng-template>
    <div class="known_spells">
      <h4>Spells known</h4>
      <div *ngFor="let spell of character.known_spells" class="spell" [matTooltip]="spell.description">
        <div class="spell_name">{{spell.name}}</div>
        <div>Level {{spell.level}} {{spell.school}}</div>
        <div>Range:{{spell.range}}</div>
        <div *ngIf="spell.concentration" class="concentration">Concentration</div>
        <div *ngIf="spell.ritual" class="concentration">Ritual</div>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>

