<div class="race">
  <form [id]="choices[0].name" *ngIf="choices">
    <label *ngFor="let choice of choices"
           matTooltipShowDelay="300"
           [matTooltip]="choice.description.main">
      <input type="radio" [formControl]="gormgroup" [value]="choice.name" (change)="onChange($event)">
      <div class="container">
        <div class="LABEL">
          {{choice.name}}
        </div>
        <img src="assets/img/{{prefix}}/{{choice.name | snakecase}}.jpg">
      </div>

    </label>
  </form>
</div>
