img {
  max-width: 100%;
  transition: transform .2s; /* Animation */
}



.container {
  :hover {
    transform: scale(1.1);
  }
  max-width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.LABEL {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #262626;
  z-index: 10000;
}

mat-card.backgroundtooltip {
  width: 50%;
}
form{
  display: flex;
  flex-wrap: wrap;
}
label{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    text-align: center;
    text-transform: capitalize;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}
/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + div>img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + div>img {
  color: #ffa502;
  box-shadow: 0 0 15px #ff6500;
  text-shadow: 0 0 15px #d35400;
  transform: scale(1.2);
}
