.str{ background-color: black; }
.dex{ background-color: green; }
.sta{ background-color: red; }
.int{ background-color: blue; }
.wis{ background-color: purple; }
.cha{ background-color: orange; }
.language{
  background-color: rebeccapurple;
  color:lightgrey;
}
.weapon{
  background-color: indianred;
  color:lightgrey;
}
.armor{
  background-color: cornflowerblue;
  color:lightgrey;
}
.skill{
  background-color: darkolivegreen;
  color:lightgrey;
}
.trait{
  background-color: saddlebrown;
  color:lightgrey;
}
